/* CSS Document */
* {
	margin: 0;
	padding: 0;
	
}
body {
	background-color: #CCC;font-family:Arial, Helvetica, sans-serif
}
.formu{width:45%;float:right;text-align:right;margin-right:160px;position:relative;top:12px}
.formu input[type=text]{padding:5px;border-radius:0.3em;box-shadow:0.2em 0.2em 0.2em #CCC inset;font-family:"Comic Sans MS", cursive}
.container {
	position: relative;
	top: 30px;
	height: auto;
	background-color: #E8E8E3;
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	box-shadow: -0.4em -0.4em 0.8em #666
}
.contadmin{padding:20px;}
.contadmin input[type=submit]{position:relative;left:39px;}
fieldset{padding:15px}
fieldset input{width:25%;margin:auto; padding:5px}
.neocom a{text-decoration:none;float:right;margin-right:80px; font-weight:bold}
.autor{font-size:0.7em;color:green}
option{background:#333;color:#FFF}

td{padding:15px}
header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+47,000000+55,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 47%, #000000 55%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 47%, #000000 55%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 47%, #000000 55%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
	height: 100px;
	text-align: center
}
#foro {
	float: left;
	
}
#foro1 {
	float: right;
	
}
nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+58 */
	background: #627d4d; /* Old browsers */
	background: -moz-linear-gradient(top, #627d4d 0%, #1f3b08 58%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #627d4d 0%, #1f3b08 58%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #627d4d 0%, #1f3b08 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=0 ); /* IE6-9 */
	height: 50px;
	color: #FFF
}
.exit{position:relative;left:800px;top:17px}
article {
	background-color: #FFF;
	box-shadow: -0.4em -0.4em 0.8em #CCC
}
/*#art1 {
	float: left;
	width: 20%;
	height: 200px;
	margin: 20px;
	background-color:#666;
	
}*/
#art2 {
	float: left;
	width: 86%;
	height: auto;
	margin: 20px;
	padding: 60px;
	
}

.recib{font-family:"Comic Sans MS", cursive;position:relative;top:12px;}
.sess{width:30%;float:left;display:inline}
.busq {
	width:30%;
	float: right;
	
	
}
.inser{width:30%;float:left}
label {
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif
}
footer {
	background-color:#07190B;
	height: 100px;
	color:#FFF;
	margin-top: 100px
}
#foot{padding:60px 40px}
table{height:100px;border:1px solid silver;width:100%;box-shadow:0.3em 0.3em 0.3em #ccc inset}
input[type="search"] {
	width: 45px; /*ancho por defecto*/
	background: #ededed url('../img/search_ico.png') no-repeat 9px center; /*icono lupa*/
	margin-top: 5px;
	padding: 9px 10px 9px 32px;
	border-radius: 0.3em;
	-webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
	-moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
	-o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
	transition: all .5s; /* transición de .5seg a todos los elementos*/
	outline: none; /* ocultar el fucos automático de los input */
}
input[type="search"]:focus {
	width: 160px; /*tamaño del boton buscar al hacer click*/
	padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
	color: #000;
	background-color: #FFF;
}
